<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Todo List</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="container-fluid clearfix">
      <div class="new-list-form">
        <form action="/" method="post">
          <input type="text" name="newList" placeholder="new list" />
          <button type="submit" name="button" value="list">+</button>
        </form>
      </div>

      <% lists.forEach(function(list){ %>

        <div class="box">
          
          <div class="head-box">
            <form action="/deleteList" method="post">
              <button type="submit" name="buttonDelete" value="<%= list._id %>"></button>
            </form>
            <h1><%= list.listName %></h1>
          </div>
          <ul>

            <% for (let j = 0; j < list.items.length; j++) { %>
            <li class="item">
              <form action="/deleteItem" method="POST">
                <input id="item-delete" type="checkbox" onChange="this.form.submit()" name="<%= list.listName %>" value="<%= list.items[j]._id %>">
                <label for="item-delete"><%= list.items[j].content %></label>
              </form>
            </li>
            <% } %>

          
            <form action="/" method="post">
              <input type="text" name="newItem" placeholder="new item" />
              <button type="submit" name="button" value="<%= list.listName %>">+</button>
            </form>


          </ul>
        </div>
      <% }) %>
    </div>
  </body>

  <footer>
    <p>Made with ❤️ by Ho Minh Nguyen</p>
  </footer>
</html>
